<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thyleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
    <title>Produtos</title>
    
</head>
<body>
	<div th:replace="~{fragmentos :: navbar}"></div>
	
	<div class="container">
		<div class="row" style="margin-top: 10px;">
			<h3 class="col">Produtos cadastrados:</h3>
			<div class="col" style="text-align: center;">
				<a href="/produtos/new" class="btn btn-primary" >Cadastrar produto</a>
			</div>	
		</div>
		
		<table class="table table-light table-hover table-striped">
			<thead>
    			<tr>
      				<th scope="col">Id</th>
      				<th scope="col">Descrição</th>
      				<th scope="col">Valor diário</th>
      				<th scope="col">Valor semanal</th>
      				<th scope="col">Valor mensal</th>
      				<th scope="col"  style="text-align: center;">Deletar</th>
    			</tr>
  			</thead>
  			<tbody>
				<tr th:each="produto : ${produtos}">
					<th th:text="${produto.id}"></th>
					<td th:text="${produto.descricao}"></td>
					<td th:text="${produto.valorDia}"></td>
					<td th:text="${produto.valorSemana}"></td>
					<td th:text="${produto.valorMes}"></td>
					<td style="text-align: center;">
						<a href="#" th:href="@{/produtos/{produtoid}/delete(produtoid = ${produto.id})}" class="btn btn-outline-danger btn-sm">X</a>
					</td>
				</tr>  
			</tbody>
		</table>
	</div>
		
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>